<!DOCTYPE html>

<html>
    <head>
        <title>Udacity Templates!</title>
    </head>
    <body>
        <h1 style="background-color: #ddd; color: #888; margin: 0; height: 50px">
            Helloworld-mcintire Udacity Course
        </h1>

        {% block content %}
        {% endblock %}
    </body>
</html>