{% block content %}
<style type="text/css">
        body {
            font-family: sans-serif;
            width: 800px;
            margin: 0 auto;
            padding: 10px;
        }

        .error {
            color: red;
        }

        label {
            display: block;
            font-size: 20px;
        }

        input[type=text] {
            width: 400px;
            font-size: 20px;
            padding: 2px;
        }

        textarea {
            width: 400px;
            height: 200px;
            font-size: 17px;
            font-family: monospace;
        }

        input[type=submit] {
            font-size: 24px;
        }

        hr {
            margin: 20px auto;
        }

        .subject {
            font-weight: bold;
            font-size: 20px;
            width: 800px;
        }

        div.content {
            margin: 0;
            font-size: 17px;
            width: 800px;
            white-space: pre-wrap;      /* CSS3 */
            white-space: -moz-pre-wrap; /* Firefox */
            word-wrap: break-word;      /* IE */
        }

        .details {
            margin: 0;
            font-size: 12px;
            width: auto;
            font-style: italic;
        }
    </style>
    <body>
    <h1>Blog Entrees</h1>
    {% for post in posts %}
        <div class="posts" style="width: 800px;">
            <div class="subject">{{post.subject}}</div>
            <div class="details">ID: {{post.key().id()}} | Date: {{post.created}}</div>
            <div class="content">{{post.content}}</div>
            <br>
        </div>
    {% endfor %}
    </body>
{% endblock %}