{% extends "base.html" %}

{% block content %}
<ol>
    {% for n in range(n+1) %}
        <li>
        {% if n % 3 == 0 and n % 5 == 0 %}
            fizzbuzz
        {% elif n % 3 == 0 %}
            fizz
        {% elif n % 5 == 0 %}
            buzz
        {% else %}
            {{n}}
        {% endif %}
        </li>
    {% endfor %}
</ol>
{% endblock %}