{% extends "base.html" %}

{% block content %}
Welcome!
<br>
<a href="../birthday">Birthday Form</a>
<br>
<a href="../rot13">rot13</a>
<br>
<a href="../signup">Signup</a>
<br>
<a href="../shop">Shop</a>
<br>
<a href="../ascii">ASCII Chan</a>
<br>
<a href="../blog">Blog</a>
{% endblock %}