{% extends "base.html" %}

{% block content %}
<h2>Enter some text to ROT13:</h2>
    <form method="post">
      <textarea name="text" style="height: 100px; width: 400px;">{{user_rot13}}</textarea>
      <br>
      <input type="submit">
    </form>
{% endblock %}