{% extends "base.html" %}

{% block content %}
    <h2>Signup</h2>
    <form method="post">
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" value="{{username}}"></td>
                <td><b><font color="red">{{username_error}}</font></b></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password"></td>
                <td><b><font color="red">{{password_error}}</font></b></td>
            </tr>
            <tr>
                <td>Verify Password: </td>
                <td><input type="password" name = "verify"></td>
                <td><b><font color="red">{{verify_error}}</font></b></td>
            </tr>
            <tr>
                <td>Email (Optional): </td>
                <td><input type="text" name="email" value="{{email}}"></td>
                <td><b><font color="red">{{email_error}}</font></b></td>
            </tr>
        </table>
    <br>
    <input type="submit">
    </form>
{% endblock %}